<rss version="2.0" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:georss="http://www.georss.org/georss">
  <channel>
    <title>{{ name }}</title>
    <description>{{ description }}</description>
    {{#each items}}
    <item>
      <title>{{ title}}</title>
      <description>{{ description}}</description>
      <link>{{ link}}</link>
      <guid>{{ link}}</guid>
      <pubDate>{{ created }}</pubDate>
      <geo:lat>{{ lat}}</geo:lat>
      <geo:long>{{ long}}</geo:long>
      <georss:point>{{ lat}} {{ long}}</georss:point>
      <enclosure url="{{ image }}" type="image/jpeg" />
    </item>
    {{/each}}
  </channel>
</rss>