<!DOCTYPE html>
<html lang={{locale}}>
{{> head}} <!-- Include the head partial here -->
<body>
  {{> logo}}
  
  <div class='container breaklines'>
    Hola {{name}},

¡Ya formas parte de la red <p><a href={{url}}>{{network.name}}</a> </p>
Aquí te explicamos cómo empezar a usar tu red en unos pocos pasos:

🪪 Paso 1: Acced a tu cuenta personal

Solo necesitas tu correo y una contraseña o tu código QR (si accediste con este método).
Con eso podrás publicar, comentar, recibir notificaciones de tu interés y mucho más. Visita Tu Perfil y dale a “Editar Perfil” para completar tu cuenta.

💬 Paso 2: Explora tu red

Mira las publicaciones que ya hay, entra y empieza a conocer a los miembros y lo que comparten.

✍️ Paso 3: Comparte algo

Puedes hacer publicaciones de lo que quieras, relacionadas con tu red como:

{{#list network.buttonTemplates}}
  <div style="color:{{cssColor}}">{{icon}} {{caption}}</div>
{{/list }}
TAG: CATEGORÍAS ESPECÍFICAS DE CADA RED (HELBUTTONS TYPES)

Una red se activa cuando hay participación, y tú eres parte de eso.

🤝 Paso 4: Invita a alguien más

Si te parece útil, invita a una persona de tu entorno que también pueda aportar. Puedes hacerlo copiando la URL de la red, que también encontrarás en la sección "Invitar".

No hace falta saber de tecnología.
HelpButtons está diseñado para personas reales, con necesidades reales, que creen en el poder de las redes comunitarias.

¿Tienes dudas o algo no te funciona bien?
Pregúntale a los <a href="{{url}}/HomeInfo#Admin">administradotres</a> de tu red

¡Nos alegra tenerte aquí!
<a href={{url}}>{{network.name}}</a>
<a href={{url}}>{{url}}}</a>
Red creada con la tecnología de Helpbuttons

    
  </div>
  
  {{> footer}} <!-- Include the footer partial here -->

</body>
</html>
