<div class="activity-group">
  {{#if link}}
    <p class="activity-label-p">
      <a href='{{link}}'>{{capitalize content}}</a>
    </p>
    <a href='{{link}}' class="activity-card-link">
      <div class="activity-card">
        <p class="activity-type">{{type}}</p>
        <p class="activity-title">{{title}}</p>
        <p class="activity-meta">📍 <span class="activity-address">{{address}}</span></p>
      </div>
    </a>
    <a class="activity-label" href='{{link}}'>{{linkCaption}}</a>
  {{else}}
    <p class="activity-label-p">
      {{capitalize content}}
    </p>
    {{#if type}}
        <div class="activity-card">
            <p class="activity-type">{{type}}</p>
            <p class="activity-title">{{title}}</p>
            <p class="activity-meta">📍 <span class="activity-address">{{address}}</span></p>
          </div>
    {{/if}}
  {{/if}}
</div>
