<div class='container'>

    <p style="background-color: yellow; color: black;">{{content}}</p>
    
    <a href="{{link}}">
      <div>
        <p>{{type}}</p>
        <p>{{title}}</p>
        <p>{{address}}</p>
      </div>
    </a>
</div>